In [1]:
import pandas as pd
import numpy as np
import time
from copy import deepcopy

from sklearn.base import BaseEstimator
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

from scipy import sparse

from IPython.display import display

import matplotlib
import matplotlib.pyplot as plt

import seaborn as sns
pd.set_option('display.width', 15000)
pd.set_option('display.max_columns', 100)
sns.set_style("whitegrid", {'axes.grid' : False})
sns.set_context('poster')
%matplotlib inline

In [2]:
figsize = (7.5, 6)
fig_dir = 'figs/modeling/Full/'

In [3]:
%%time
# Load data

data_dir = 'data/Full/'
dfb = pd.read_pickle(data_dir + 'business.pkl')
dfr = pd.read_pickle(data_dir + 'review.pkl')
dfu = pd.read_pickle(data_dir + 'user.pkl')
datar = pd.read_pickle(data_dir + 'data_review.pkl')

Wall time: 8.54 s

In [4]:
print(dfb.shape)
print(dfu.shape)
print(datar.shape)
datar.head()

(131025, 93)
(1117891, 22)
(4166778, 3)

   user_id  business_id  stars
0        0            0      2
1        1            0      2
2        2            0      2
3        3            0      3
4        4            0      2